body {
  background-color: hsla(212, 45%, 89%);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  background-color: white;
  margin: 24% 0 32.5% 0;
  width: 330px;
  height: 550px;
  border-radius: 15px;
}

.mydiv {
  text-align: center;
  border-radius: 15px;
}

img {
  max-width: 90%;
  border-radius: 9px;
  margin-top: 5%;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: hsla(218, 44%, 22%);
  padding: 5%;
  padding-bottom: 0%;
  padding-top: 1%;
  /*margin:0 2% 0 1%;*/
  margin-left: 2.5%;
  margin-right: 3%;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsla(216, 15%, 48%);
  padding: 0% 11%;
}

footer {
  text-align: center;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 3%;
}